# This GitHub actions builds teh documentation with sphinx and after that uploades the html pages to GutHub pages (gh-pages branch)

name: Build Documentation

on: [workflow_dispatch]

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - name: Install dependencies
        run: |
          pip install 'sphinx~=8.2.3' 'sphinx_rtd_theme~=3.0.2' 'myst_parser~=4.0.1'
      - name: Sphinx build
        run: |
          rm -Rf docs/build
          sphinx-build -a -b html docs/source docs/build
          ls docs/build
      - name: Deploy to GitHub pages (Deploy to gh-pages branch by default. Make sure to point Settings -> Pages in GitHub repository to use gh-pages branch)
        uses: JamesIves/github-pages-deploy-action@4a3abc783e1a24aeb44c16e869ad83caf6b4cc23
        with:
          folder: docs/build # The folder the action should deploy.
        
